<!DOCTYPE html>
<html lang="ko">

<head>
    <title>Status</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/util.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('static/images/bg_03.jpg');">
            <div class="wrap-custom100 p-l-55 p-r-55 p-t-65 p-b-54"
                style="display: flex; background: #ffffff; border-radius: 20px; width: 80%;">
                <div class=" login100-form validate-form" style="flex: 1; margin: 5%;">
                    <span class="login100-form-title p-b-49">
                        실시간 로봇 위치
                    </span>

                    <div class="box_main">
                        <img src="static/images/maps/map_raw.png" style="width: 100%; height: 100%;"></img>
                    </div>
                </div>

                <div style="border-left: 1px solid #e0e0e0; margin: 1%;">
                </div>

                <div class="login100-form validate-form" style="flex: 1; margin: 5%">
                    <div class="box_main">
                        <img src="{{image}}" style="width: 100%; height: 100%;"></img>
                    </div>
                    <div class="custom100-text p-b-5">
                        넘어진 시간: {{time}}
                    </div>
                    <div class="custom100-text p-b-5">
                        넘어진 위치: 112호
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/bootstrap/js/popper.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/daterangepicker/moment.min.js"></script>
    <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="static/js/main.js"></script>

</body>



</html>