:root {
    --face-color: black;
    --face-height: 100vh;
    --face-width: 100vw;
    --eye-size: 33.33vmin;
    --eye-color: whitesmoke;
    --eyelid-color: black;
}

body {
    background-color: black;
    margin: 0px;
}

.buttons {
    position: relative;
    z-index: 3;
}

.face {
    background-color: var(--face-color);
    margin: auto;
    height: var(--face-height);
    width: var(--face-width);
    position: relative;
    overflow: hidden;
}

.face div {
    position: absolute;
}

.eyebrow {
    background-color: var(--eye-color);
    /* Set the color of the eyebrows */
    height: calc(var(--eye-size) / 3);
    /* Set the height of the eyebrows */
    width: calc(var(--eye-size) * 1.25);
    /* Set the width of the eyebrows */
    z-index: 3;
    /* Ensure the eyebrows are displayed above the eyelids */

    /* Set the initial rotation of the eyebrows */
}

.eyebrow.left {
    top: calc(var(--eye-size) / 1);
    /* Adjust the vertical position of the left eyebrow */
    left: calc(var(--eye-size) / 12);
    /* Adjust the horizontal position of the left eyebrow */
    transform: rotateX(20deg);
}

.eyebrow.right {
    top: calc(var(--eye-size) / 1);
    /* Adjust the vertical position of the right eyebrow */
    right: calc(var(--eye-size) / 12);
    /* Adjust the horizontal position of the right eyebrow */
    transform: rotateX(-20deg);
}


.eye {
    background-color: var(--eye-color);
    border-radius: 100%;
    height: var(--eye-size);
    width: var(--eye-size);
    bottom: calc(var(--eye-size) / 3);
    z-index: 1;
    transform: rotateX(0);
}

.eye.left {
    left: calc(var(--eye-size) / 3);
}

.eye.right {
    right: calc(var(--eye-size) / 3);
}

.eyelid {
    background-color: var(--eyelid-color);
    height: var(--eye-size);
    width: calc(var(--eye-size) * 1.75);
    z-index: 2;
    transform: rotate(0deg);
}

.eyelid.upper {
    bottom: calc(var(--eye-size) * 1);
    left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
    border-radius: 100%;
    bottom: calc(var(--eye-size) * -1);
    left: calc(var(--eye-size) * -0.375);
}